---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="font-display font-normal text-accent">AM Vehiculos</h1>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam tempora facilis maxime eveniet, eius, veniam mollitia quod officia qui repellat unde, beatae blanditiis labore minima laboriosam deserunt nostrum. Incidunt, architecto?</p>
	
</Layout>
