---
import '../styles/global.css';
import Header from '../sections/Header.astro';
import AsideBar from '../sections/AsideBar.astro';
import Footer from '../sections/Footer.astro';
---
<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>AM Vehículos</title>
	</head>
	<body>
		<main>
			<Header />
			<AsideBar />
			<slot />
			<Footer />
		</main>
		<script src="../scripts/lenis.js"></script>
	</body>
</html>
